@model RegisterForm
@{
	ViewData["Title"] = "Registration";
}
<form action="/Account/Register" method="post">
	<div class="form-group">
		@Html.LabelFor(l => l.Nickname, new { @class = "form-label" })
		@Html.TextBoxFor(l => l.Nickname, new { @class = "form-control" })
		@Html.ValidationMessageFor(l => l.Nickname)
	</div>
	<div class="form-group">
		@Html.LabelFor(l => l.Password, new { @class = "form-label" })
		@Html.PasswordFor(l => l.Password, new { @class = "form-control" })
		@Html.ValidationMessageFor(l => l.Password)
	</div>
	<div class="form-group">
		@Html.LabelFor(l => l.PasswordConfirm, new { @class = "form-label" })
		@Html.PasswordFor(l => l.PasswordConfirm, new { @class = "form-control" })
		@Html.ValidationMessageFor(l => l.PasswordConfirm)
	</div>
	<button type="submit" class="btn-primary">Create Account</button>
</form>